<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--注册Service层对象-->
    <bean id="newsManagerServices" class="com.abc.services.INewsManagerServicesImpl">
        <property name="INewsManagerDao" ref="INewsManagerDao"/>
    </bean>
    <!--开始事务支持-->
    <!--开启aop支持-->
</beans>